# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*
!.env.example

# Database
*.db

# Logs
*.log
nohup.out
uvicorn.log

# Alembic
alembic/versions/

# VSCode
.vscode/

# Tests
.pytest_cache/
