# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env.*

# Database
*.db

# Logs
*.log
nohup.out
uvicorn.log

# Alembic
alembic/versions/__pycache__/
alembic/versions/*.pyc

# VSCode
.vscode/

# Tests
.pytest_cache/
