aiosmtplib
authlib
fastapi
fastapi-limiter
geoip2
passlib
prometheus-fastapi-instrumentator
pydantic
pydantic-settings
pyotp
python-dotenv
python-jose
requests
sqlalchemy
starlette
stripe
redis
uvicorn
psycopg2-binary
alembic

