aioredis==2.0.1
aiosmtplib==4.0.1
authlib==1.6.1
fastapi==0.116.1
fastapi_limiter==0.1.6
geoip2==5.1.0
passlib==1.7.4
prometheus_fastapi_instrumentator==7.1.0
pydantic==2.11.7
pydantic_settings==2.10.1
pyotp==2.9.0
python-dotenv==1.1.1
python_jose==3.5.0
Requests==2.32.4
SQLAlchemy==2.0.42
starlette==0.47.2
stripe==12.4.0
